<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>,
          <%= pluralize(@user.favorites.count, 'favorites') %>
        </small>
      </div>
    </div>
  </div>
</div>
  <div class = "media-body">
    <h2 class="media-heading"> Content </h2>

      <h2>Posts</h2>
    <% if have_posts? %>
      <%= render @user.posts %>
    <% else %>
      <h4><%= @user.name %> has not submitted any posts yet.<h4>
    <% end %>

      <h2>Comments</h2>
    <% if have_comments? %>
      <%= render @user.comments %>
    <% else %>
      <h4><%= @user.name %> has not submitted any comments yet.<h4>
    <% end %>

      <h2>Favorites</h2>
    <% if have_favorites? %>
      <%= render @user.favorited_posts %>
    <% else %>
      <h4><%= @user.name %> has not selected any favorites yet.<h4>
    <% end %>
  </div>
